.logo {
    border-radius: 75px;
    display: inline;
    display: block;
}

/* Estilos del contenido central */

/*Sirve para posicionar y centrar elementos*/
.content {
    width: 1150px;
    min-height: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(235, 232, 227);   
    position: relative;
    display: flex;
    align-items: center;
}

.content_index {
    width: 1150px;
    min-height: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(235, 232, 227);   
    position: relative;
    display: flex;
    align-items: center;
}

.box_index {
    background: rgb(164, 164, 164);
    padding: 10px;
    border: 1px solid #ddd;
    width: 500px;
    height: 370px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
    -webkit-box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
}


/*Box: altera los elementos dentro del contenido*/

.box {
    background: rgb(164, 164, 164);
    padding: 10px;
    border: 1px solid #ddd;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
    -webkit-box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -4px -5px 37px 0px rgba(0,0,0,0.59);
}

.box form{
    margin-left: 25%;
}

.box h2{
    padding: 0em;
    margin-left:  25%;
}


.box form input, label {
    display: block;  /*cada elemento va a ocupar una linea*/
    padding: 5px;
    padding-left: 5px;

 
}

.box_letter {
    font-size: larger;
    padding: 20px;
    margin: 10px;
}
